node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nyc_output
.vscode
.idea
*.md
!grafana/*.md

# Don't ignore these
!config/pcdn.json.example
!grafana/dashboard.json
