apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pcdn-cache-pvc
  namespace: pcdn
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pcdn-uploads-pvc
  namespace: pcdn
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
